In [ ]:
def calculate_total_bill(items):
    total = 0
    for item in items:
        price, quantity = item['price'], item['quantity']
        total += price * quantity
    return total

items = [{'price': 10, 'quantity': 3}, {'price': 5, 'quantity': 6}]
print("Total Bill:", calculate_total_bill(items))

Total Bill: 60

In [ ]:
def generate_report(name, marks):
    avg = sum(marks) / len(marks)
    if avg >= 90:
        grade = 'A'

    elif avg >= 75:
        grade = 'B'

    elif avg >= 50:
        grade = 'C'

    else:
        grade = 'F'

    return avg, grade

average, grade = generate_report("John", [85, 90, 78])

print(f"Average: {average}, Grade: {grade}")

Average: 84.33333333333333, Grade: B

In [ ]:
def convert_temperature(value, to_fahrenheit = True):
    if to_fahrenheit:
        return (value * 9/5) + 32
    else:
        return (value - 32) * 5/9

print("100°C to °F:", convert_temperature(100))
print("212°F to °C:", convert_temperature(212, False))

100°C to °F: 212.0
212°F to °C: 100.0

In [ ]:
class Employee:
    def __init__(self, name, emp_id, salary):
        self.name = name
        self.emp_id = emp_id
        self.salary = salary

    def display_details(self):
        print(f"Name: {self.name}, ID: {self.emp_id}, Salary: {self.salary}")


emp = Employee("Alice", 101, 50000)
emp.display_details()

Name: Alice, ID: 101, Salary: 50000

In [ ]:
class BankAccount:
    def __init__(self):
        self.balance = 0

    def deposit(self, amount):
        self.balance += amount

    def withdraw(self, amount):
        if self.balance >= amount:
            self.balance -= amount
        else:
            print("Insufficient balance.")

    def check_balance(self):
        return self.balance


account = BankAccount()
print("Initial Balance:", account.check_balance())
account.deposit(1000)
print("After Deposit:", account.check_balance())
account.withdraw(500)
print("After Withdraw:", account.check_balance())

Initial Balance: 0
After Deposit: 1000
After Withdraw: 500

In [ ]:
class MovieTicket:
    def __init__(self, movie_name, seat_number, price):
        self.movie_name = movie_name
        self.seat_number = seat_number
        self.price = price

    def calculate_total(self, quantity):
        return self.price * quantity


ticket = MovieTicket("Fantastic Four: First Steps", "F4", 250)
print("Total for 3 tickets:", ticket.calculate_total(3))

Total for 3 tickets: 750

In [ ]:
class Book:
    def __init__(self, title, author):
        self.title = title
        self.author = author
        self.available = True

    def borrow(self):
        if self.available:
            self.available = False
            print(f"You borrowed '{self.title}'.")
        else:
            print("Book not available.")

    def return_book(self):
        self.available = True
        print(f"You returned '{self.title}'.")


book = Book("Three Men in a Boat", "Jerome Klapka Jerome")
book.borrow()
book.return_book()

You borrowed 'Three Men in a Boat'.
You returned 'Three Men in a Boat'.

In [ ]:
class Car:
    def __init__(self, brand, model, daily_rent):
        self.brand = brand
        self.model = model
        self.daily_rent = daily_rent

    def calculate_rent(self, days):
        return self.daily_rent * days


car = Car("Toyota", "Innova Crysta", 70)
print("Rent for 5 days:", car.calculate_rent(5))

Rent for 5 days: 350

In [ ]:
class Course:
    def __init__(self, name, total_modules, completed_modules):
        self.name = name
        self.total_modules = total_modules
        self.completed_modules = completed_modules

    def progress(self):
        percent = (self.completed_modules / self.total_modules) * 100
        print(f"Progress in {self.name}: {percent:.2f}%")


course = Course("Data Science", 20, 10)
course.progress()

Progress in Data Science: 50.00%

In [ ]:
def restaurant_bill(orders):
    total = sum(item['price'] for item in orders)
    count = len(orders)
    return total, count


orders = [{'item': 'Burger', 'price': 100}, {'item': 'Fries', 'price': 50}]
total, count = restaurant_bill(orders)
print(f"Total: {total}, Items: {count}")

Total: 150, Items: 2

In [ ]:
from abc import ABC, abstractmethod

class ATM(ABC):
    def __init__(self, balance):
        self.__balance = balance

    def withdraw(self, amount):
        if amount <= self.__balance:
            self.__balance -= amount
            print(f"Withdrew {amount}")
        else:
            print("Insufficient funds.")

    def deposit(self, amount):
        self.__balance += amount
        print(f"Deposited {amount}")

    def check_balance(self):
        print(f"Balance: {self.__balance}")

# Example:
atm = ATM(1000)
atm.deposit(500)
atm.withdraw(300)
atm.check_balance()

Deposited 500
Withdrew 300
Balance: 1200

In [ ]:
class Student:
    def __init__(self, name):
        self.name = name
        self.__marks = 0

    def set_marks(self, marks):
        if 0 <= marks <= 100:
            self.__marks = marks
        else:
            print("Invalid marks.")

    def get_marks(self):
        return self.__marks


s = Student("Emma")
s.set_marks(85)
print(f"{s.name}'s Marks:", s.get_marks())

Emma's Marks: 85

In [ ]:
class Vehicle:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

class Car(Vehicle):
    def car_feature(self):
        print(f"{self.brand} {self.model} is a car.")

class Bike(Vehicle):
    def bike_feature(self):
        print(f"{self.brand} {self.model} is a bike.")

class Truck(Vehicle):
    def truck_feature(self):
        print(f"{self.brand} {self.model} is a truck.")


c = Car("Suzuki", "Swift")
c.car_feature()

b = Bike("Bajaj", "V")
b.bike_feature()

Suzuki Swift is a car.
Bajaj V is a bike.

In [ ]:
class Payment:
    def make_payment(self):
        pass

class CreditCard(Payment):
    def make_payment(self):
        print("Paid using Credit Card.")

class DebitCard(Payment):
    def make_payment(self):
        print("Paid using Debit Card.")

class UPI(Payment):
    def make_payment(self):
        print("Paid using UPI.")


payments = [CreditCard(), DebitCard(), UPI()]
for p in payments:
    p.make_payment()

Paid using Credit Card.
Paid using Debit Card.
Paid using UPI.